<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>MY ETH WALLET</h1>
      </div>

    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Enter your Ethereum address below to receive BES token:</h3>


  </div>
  <div class="card-body">
   <div class="form-group row">
<label for="inputEmail3" class="col-sm-2 col-form-label">Ethereum Address:</label>
<div class="col-sm-8">
  <input type="email" class="form-control" id="inputEmail3" placeholder="546546464646sasdasdwef65464">
</div>
<div class="col-sm-2">
  <button type="submit" class="btn btn-danger">Update</button>
</div>
</div>

<div class="col-sm-8">
<ul>
  <li>Proving Ethereum ERC20</li>
  <li>Do not use a waller from exchange</li>
  <li>Uf you hadn't have any ETH address</li>
</ul>
</div>

  </div>
  <!-- /.card-body
  <div class="card-footer">
    Footer
  </div>
  <!-- /.card-footer-->
</div>

<section class="content mid-sec">

  <!-- Default box -->
<div class="row">
<div class="col-sm-6">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Total Invested:</h3>


    </div>
    <div class="card-body">
     <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
   <span class="info-box-text text-center">CPU Traffic</span>
        <div class="info-box">
          <span class="info-box-icon"><fa-icon [icon]="faCog"></fa-icon></span>

          <div class="info-box-content">

            <span class="info-box-number">
              10
              <small>%</small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
  <span class="info-box-text text-center">Likes</span>
        <div class="info-box mb-3">
          <span class="info-box-icon"><fa-icon [icon]="faThumbsUp"></fa-icon></span>

          <div class="info-box-content">

            <span class="info-box-number">41,410</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-3">
  <span class="info-box-text text-center">Sales</span>
        <div class="info-box mb-3">
          <span class="info-box-icon"><fa-icon [icon]="faShoppingCart"></fa-icon></span>

          <div class="info-box-content">
            <span class="info-box-number">760</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
  <span class="info-box-text text-center">New</span>
        <div class="info-box mb-3">
          <span class="info-box-icon"><fa-icon [icon]="faUsers"></fa-icon></span>

          <div class="info-box-content">
            <span class="info-box-number">2,000</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>


    </div>
    <!-- /.card-body
    <div class="card-footer">

Footer
    </div>
    <!-- /.card-footer-->
  </div>
  <!-- /.card -->
</div>

<div class="col-sm-6">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Total Invested:</h3>


    </div>
    <div class="card-body">
     <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
   <span class="info-box-text text-center">CPU Traffic</span>
        <div class="info-box">
          <span class="info-box-icon"><fa-icon [icon]="faCog"></fa-icon></span>

          <div class="info-box-content">

            <span class="info-box-number">
              10
              <small>%</small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
  <span class="info-box-text text-center">Likes</span>
        <div class="info-box mb-3">
          <span class="info-box-icon"><fa-icon [icon]="faThumbsUp"></fa-icon></span>

          <div class="info-box-content">

            <span class="info-box-number">41,410</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-3">
  <span class="info-box-text text-center">Sales</span>
        <div class="info-box mb-3">
          <span class="info-box-icon"><fa-icon [icon]="faShoppingCart"></fa-icon></span>

          <div class="info-box-content">
            <span class="info-box-number">760</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
  <span class="info-box-text text-center">New</span>
        <div class="info-box mb-3">
          <span class="info-box-icon"><fa-icon [icon]="faUsers"></fa-icon></span>

          <div class="info-box-content">
            <span class="info-box-number">2,000</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>


    </div>
    <!-- /.card-body
    <div class="card-footer">

Footer
    </div>
    <!-- /.card-footer-->
  </div>
  <!-- /.card -->
</div>




</div>

<!--mid-->
<div class="row">
<div class="col-sm">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">BONUS:</h3>


    </div>
    <div class="card-body">
     <div class="row">
      <div class="col-12 col-sm-6 col-md-2">
   <span class="info-box-text text-center">60%</span>
        <div class="info-box-sec">
          <span class="info-box-icon">
    <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (warning)</span>
              </div>
            </div>
  </span>

          <div class="info-box-content-sec">

            <span class="info-box-number">
              Week 1

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-2">
   <span class="info-box-text text-center">60%</span>
        <div class="info-box-sec">
          <span class="info-box-icon">
    <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (warning)</span>
              </div>
            </div>
  </span>

          <div class="info-box-content-sec">

            <span class="info-box-number">
              Week 1

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-2">
   <span class="info-box-text text-center">60%</span>
        <div class="info-box-sec">
          <span class="info-box-icon">
    <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (warning)</span>
              </div>
            </div>
  </span>

          <div class="info-box-content-sec">

            <span class="info-box-number">
              Week 1

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-2">
   <span class="info-box-text text-center">60%</span>
        <div class="info-box-sec">
          <span class="info-box-icon">
    <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (warning)</span>
              </div>
            </div>
  </span>

          <div class="info-box-content-sec">

            <span class="info-box-number">
              Week 1

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-2">
   <span class="info-box-text text-center">60%</span>
        <div class="info-box-sec">
          <span class="info-box-icon">
    <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (warning)</span>
              </div>
            </div>
  </span>

          <div class="info-box-content-sec">

            <span class="info-box-number">
              Week 1

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-2">
   <span class="info-box-text text-center">60%</span>
        <div class="info-box-sec">
          <span class="info-box-icon">
    <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (warning)</span>
              </div>
            </div>
  </span>

          <div class="info-box-content-sec">

            <span class="info-box-number">
              Week 1

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>
</div>


    </div>
    <!-- /.card-body
    <div class="card-footer">

Footer
    </div>
    <!-- /.card-footer-->
  </div>
  <!-- /.card -->
</div>
</div>


<div class="row">
<div class="col-sm">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">BONUS:</h3>


    </div>
    <div class="card-body">
     <div class="row">
      <div class="col-12 col-sm-6 col-md-2">
   <span class="info-box-text text-center"><i class="ion-social-facebook"></i></span>
        <div class="info-box-sec">


          <div class="info-box-content-sec">

            <span class="info-box-number">
              Facebook

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
   <div class="col-12 col-sm-6 col-md-2">
   <span class="info-box-text text-center"><i class="ion-social-facebook"></i></span>
        <div class="info-box-sec">


          <div class="info-box-content-sec">

            <span class="info-box-number">
              Facebook

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
   <div class="col-12 col-sm-6 col-md-2">
   <span class="info-box-text text-center"><i class="ion-social-facebook"></i></span>
        <div class="info-box-sec">


          <div class="info-box-content-sec">

            <span class="info-box-number">
              Facebook

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
   <div class="col-12 col-sm-6 col-md-2">
   <span class="info-box-text text-center"><i class="ion-social-facebook"></i></span>
        <div class="info-box-sec">


          <div class="info-box-content-sec">

            <span class="info-box-number">
              Facebook

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
   <div class="col-12 col-sm-6 col-md-2">
   <span class="info-box-text text-center"><i class="ion-social-facebook"></i></span>
        <div class="info-box-sec">


          <div class="info-box-content-sec">

            <span class="info-box-number">
              Facebook

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
   <div class="col-12 col-sm-6 col-md-2">
   <span class="info-box-text text-center"><i class="ion-social-facebook"></i></span>
        <div class="info-box-sec">


          <div class="info-box-content-sec">

            <span class="info-box-number">
              Facebook

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>
</div>


    </div>
    <!-- /.card-body
    <div class="card-footer">

Footer
    </div>
    <!-- /.card-footer-->
  </div>
  <!-- /.card -->
</div>
</div>
</section>



<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
</aside>
