<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>BES PRICE CALCULATION</h1>
        </div>

      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <!--<div class="card-header">
        <h3 class="card-title">Please send exactly 1 ETH to:</h3>


      </div>-->
      <div class="card-body">
       <div class="form-group row">
         </div>
    <!--<label for="inputEmail3" class="col-sm-2 col-form-label">Ethereum Address:</label>-->
    <div class="col-sm-11">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Please enter amount">



    </div>
    <div class="col-sm-1">
      <button type="submit" class="btn btn-danger">BES</button>
    </div>


    <table class="table table-striped" style="margin-top:47px;">
                <thead>
                  <tr>
                    <th>BTC</th>
                    <th>ETH</th>
                    <th>LTC</th>
                    <th>DASH</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>
                      0.00
                    </td>
                    <td>0.00</td>
                  </tr>

</tbody>
</table>

      </div>
      <!-- /.card-body
      <div class="card-footer">
        Footer
      </div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>


<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
