<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>TRANSACTION HISTORY</h1>
        </div>

      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <!--<div class="card-header">
        <h3 class="card-title">Please send exactly 1 ETH to:</h3>


      </div>-->
      <div class="card-body">
       <div class="form-group row">
         </div>
    <!--<label for="inputEmail3" class="col-sm-2 col-form-label">Ethereum Address:</label>-->



    <table class="table table-striped" style="margin-top:15px;">
                <thead>
                  <tr>
                    <th class="text-center">DATE</th>
                    <th class="text-center">ADDRESS</th>
                    <th class="text-center">CURRENCY</th>
                    <th class="text-center">AMOUNT</th>
          <th class="text-center">TOKEN AMOUNT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>

                  </tr>

</tbody>
</table>

    <div class="col-sm-12">
      <span class="genericSpanStyle">You have no transactions yet. Would you like to invest?</span>



    </div>
    <div class="col-sm-12">
      <button type="submit" class="btn btn-danger centerTheElement">Invest</button>
    </div>
      </div>
      <!-- /.card-body
      <div class="card-footer">
        Footer
      </div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
